* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

/* Search Field Styling */

.search-box {
  width: 100%;
  text-align: center;
  margin: 35px 0;
  border-radius: 5px;
  border: grey;
}

#search {
  width: 33%;
  height: 40px;
  font-size: 1.2em;
  border-radius: 5px;
}

/* Main Styles */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  max-width: 1024px;
  margin: auto;
}

.picture {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  flex-basis: 21%;
}
